* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  font-family: 'Karla', sans-serif;
  z-index: 0;
}

#root {
  height: 100vh;
  display: flex;
}

main {
  background-color: #f5f5f5;
  height: 500px;
  width: 500px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  z-index: 1;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.diceContainer {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  position: relative;
  margin-bottom: 40px;
}

.dieFace {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.dieNum {
  margin: auto;
  font-size: 2rem;
}

.rollButton {
  background-color: #5035ff;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 1.3rem;
  font-family: 'Karla', sans-serif;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.rollButton:focus {
  outline: none;
}

.rollButton:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.rollTracker {
  font-size: 22px;
  color: black;
}

.rollTracker > p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.congrats {
  font-size: 28px;
}

.count{
  color:#3fa066; 
  margin: 0 8px;
  font-size: 28px;
}
